.container{
    display:flex; flex-direction:column; justify-content:center;
    width: 70%;
    margin: auto;
}
hr{
    padding: 0px;
    margin: 0px;    
    margin-top:-1.3em;
  }
.full-content {
    box-shadow: 0 0 10px rgb(50 50 50 / 18%);
    margin: 25px;
}
.dates {
    margin-top: -.5em;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color:  #cce6ff;
}
.header{
    color:#fff;
    background: #0f4666;
    padding: 25px;
}
.main{
    padding: 25px;
    padding-bottom: 10px;
}
.visits{
    color: #fff;
    background: #0f4666;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width: 600px) {
    .container {
        display:flex; flex-direction:column; justify-content:center;
        width: 100%;
    }
    .full-content {
        margin: 5px;
    }
}